body {
    font-family: 'cascadia code';
    font-size: 100%;
}
.fa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.en{
    display: flex;
    justify-content: center;
    align-items: center;
}
.en-bt :hover {
    color: #ff0000;
}
.fa-bt :hover {
    color: #ff0000;
}